# Chapter 3.4 Introduction to Tables (Pandas ver.)

## Create a DataFrame

In [ ]:
import pandas as pd

# Define cones' attributes
conesAttributes = ["Flavor", "Color", "Price"]

# Define cones' data, must be same sequence as attributes
conesData = [["strawberry", "pink", 3.55],
        ["chocolate", "light brown", 4.75],
        ["chocolate", "dark brown", 5.25],
        ["strawberry", "pink", 5.25],
        ["chocolate", "dark brown", 5.25],
        ["bubblegem", "pink", 4.75]]

# Define cones
cones = pd.DataFrame(data=conesData, columns=conesAttributes)

In [ ]:
cones

## Display rows

In [ ]:
# Show first two rows
cones[:2]

In [ ]:
cones.iloc[:2]

In [ ]:
cones.iloc[0:2, :]

## Choosing Sets of Columns

In [ ]:
# Show Flavor
cones.loc[:, ['Flavor']]

In [ ]:
cones['Flavor']

In [ ]:
type(cones.loc[:, ['Flavor']])

In [ ]:
type(cones['Flavor'])

In [ ]:
cones['Flavor'].to_frame()

In [ ]:
cones # original DataFrame not changed

In [ ]:
# Show Flavor, Price
cones.loc[:, ['Flavor', 'Price']]

In [ ]:
# Drop Color
cones.drop(columns='Color')

In [ ]:
cones

In [ ]:
cones_without_color = cones.drop(columns='Color')
cones_without_color

## Sorting Rows

In [ ]:
# Sort Price
cones.sort_values(by=["Price"])

In [ ]:
# Sort Price Descending
cones.sort_values(by=["Price"], ascending=False)

In [ ]:
cones.sort_values(by=["Flavor","Price"], ascending=[True, True])

## Selecting Rows that Satisfy a Condition

In [ ]:
# Making boolean series for a cones
filter = cones['Flavor'] == "chocolate"

# Pass filter to cones
cones.where(filter, inplace=False)

In [ ]:
filter

In [ ]:
cones.where(cones['Flavor']=='chocolate')

In [ ]:
# cones.where(filter, inplace=True)

In [ ]:
# Making boolean series for a cones
filter = cones['Flavor'] == "chocolate"

# Pass filter to cones
cones.loc[filter]

In [ ]:
# Making boolean series for a cones
filter = cones['Flavor'] == "Chocolate"

# Pass filter to cones
cones.loc[filter]

## Example: Salaries in the NBA

In [ ]:
# Read nba csv
nba = pd.read_csv('nba_salaries_3.4.4.csv')

# Show nba
nba

In [ ]:
nba.head()

In [ ]:
nba.tail()

In [ ]:
# Filter "Stephen Curry"
filter = nba["PLAYER"] == "Stephen Curry"
nba.loc[filter]

In [ ]:
nba["PLAYER"]=="Stephen Curry"

In [ ]:
nba[nba["PLAYER"]=="Stephen Curry"]

In [ ]:
nba[121:123]

### Find players by a team name

In [ ]:
# Filter "Golden State Warriors"
filter = nba["TEAM"] == "Golden State Warriors"
warriors = nba.loc[filter]
warriors

#### Renaming columns

In [ ]:
nba.columns

In [ ]:
nba_renamed = nba.copy(deep='all') # deep=True only works for the data

In [ ]:
nba_renamed[:2]

In [ ]:
nba_renamed.columns.values[3] = 'SALARY2'
nba_renamed[:2]

In [ ]:
nba_renamed = nba_renamed.rename(columns={'SALARY2':'SALARY'})
nba_renamed[:2]

In [ ]:
nba.head(2)

In [ ]:
nba = nba.rename(columns={'2025-2016 SALARY':'SALARY'})
nba.head(2)

In [ ]:
col_name = nba.columns.values[3]
nba=nba.rename(columns={col_name:'SALARY ($M)'})
nba.head(2)

In [ ]:
# Sort nba based on SALARY, ascending=True
nba.sort_values(by=["SALARY ($M)"], ascending=True)

In [ ]:
# Sort nba based on SALARY, ascending=False
nba.sort_values(by=["SALARY ($M)"], ascending=False)

In [ ]:
# Sort nba first by 'TEAM', then by 'SALARY'
nba.sort_values(by=['TEAM', 'SALARY ($M)'], ascending=False)

# Chapter 6 Tables (Pandas ver.)

## Creating DataFrame revisited

In [ ]:
import numpy as np

In [ ]:
pd.DataFrame()

In [ ]:
pd.DataFrame(data=np.array([8, 34, 5]), columns=['Number of petals'])

In [ ]:
pd.DataFrame({'Number of petals': np.array([8, 34, 5]),
              'Name': np.array(['lotus', 'sunflower', 'rose'])})

### Adding a new column to an existing DataFrame

In [ ]:
flowers = pd.DataFrame({'Number of petals': np.array([8, 34, 5]),
                        'Name': np.array(['lotus', 'sunflower', 'rose'])})
flowers['Color'] = np.array(['pink', 'yellow', 'red'])
flowers

### minard data

In [ ]:
# Read CSV
minard_cities = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/HistData/Minard.cities.csv')
minard_temp = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/HistData/Minard.temp.csv')
minard_troops = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/HistData/Minard.troops.csv')

In [ ]:
minard_cities.info()

In [ ]:
minard_cities.head()

In [ ]:
minard_temp.info()

In [ ]:
minard_temp.head()

In [ ]:
minard_troops.info()

In [ ]:
minard_troops.head()

Remove rownames

In [ ]:
# Remove the 1st column which is rank
minard_cities = minard_cities.iloc[:, 1:]
minard_temp = minard_temp.iloc[:, 1:]
minard_troops = minard_troops.iloc[:, 1:]

In [ ]:
# Join minard_troops and minard_cities
minard = minard_troops.join(minard_cities.set_index(['long', 'lat']), on=['long', 'lat'])
minard.head(20)

In [ ]:
# Filter the NaN(Null) value in city column
filter = minard['city'].notnull()
minard = minard[filter]
minard

In [ ]:
# The columns of the Table
minard.columns

In [ ]:
# Rename column 'city' to 'city name', inplace=False
minard.rename(columns={'city': 'city name'})

In [ ]:
minard

In [ ]:
# minard.rename(columns={'city': 'city name'}, inplace=True)
minard = minard.rename(columns={'city': 'city name'})
minard

In [ ]:
minard.shape

In [ ]:
len(minard)

In [ ]:
# Accessing the Data in a Column
minard['survivors']

In [ ]:
# OR
minard.survivors

In [ ]:
type(minard.survivors)

In [ ]:
# OR
minard.iloc[:,2]
# iloc[row index, column index]

In [ ]:
minard.iloc[2]
# return i-th row

In [ ]:
minard

In [ ]:
minard.reset_index(drop=True, inplace=True)

In [ ]:
minard

In [ ]:
minard.loc[5]

In [ ]:
minard.iloc[5]

In [ ]:
# Working with the Data in a Column
initial = minard['survivors'].iloc[0]
minard['percent surviving'] = minard['survivors']/initial
minard

In [ ]:
# Formart columns 'percent surviving'
minard2 = minard.style.format({'percent surviving': '{:.2%}'})

In [ ]:
minard2 # this is not a dataframe

In [ ]:
minard

The method loc creates a new table that contains only the specified columns.

In [ ]:
minard[['long', 'lat']]

In [ ]:
minard.loc[:, ['long', 'lat']]

In [ ]:
minard['long'] # returns an array

In [ ]:
minard[['long']] # returns a DataFrame

In [ ]:
minard.loc[:,['long']]

In [ ]:
minard.iloc[:,:1]

In [ ]:
minard.drop(columns=['long', 'lat', 'direction'])

In [ ]:
minard # applying iloc, loc, drop won't change the original table

In [ ]:
minard = minard.drop(columns=['long', 'lat', 'direction'])

In [ ]:
minard

## selecting rows

### See {x} Tab

In [ ]:
%reset

In [ ]:
import pandas as pd
nba = pd.read_csv('nba_salaries_3.4.4.csv')

In [ ]:
# Show the 1st row
nba.iloc[[0]]

In [ ]:
nba[:1]

In [ ]:
# Show rows between 3 to 5
nba.iloc[3:6]

In [ ]:
nba = nba.rename(columns={'2015-2016 SALARY':'SALARY'})

In [ ]:
nba

## sorting rows

In [ ]:
# top 5 hiest paid players
nba.sort_values(by=["SALARY"], ascending=False).iloc[:5]

In [ ]:
nba.sort_values(by=["SALARY"], ascending=False)[:5]

## selecting rows by values

In [ ]:
# Filter the rows where 'SALARY' >= 10
nba[nba['SALARY']>10]

In [ ]:
# Filter the rows where 'SALARY' >= 10, then sort by 'SALARY', ascending=False
nba[nba['SALARY']>10].sort_values('SALARY', ascending=False)

In [ ]:
# Filter the rows where 'PLARYER' == 'Stephen Curry'
nba[nba['PLAYER']=='Stephen Curry']

In [ ]:
nba['PLAYER']=='Stephen Curry'

In [ ]:
nba.sample(n=5)

In [ ]:
# Get a table of all the Warriors
nba[nba['TEAM']=='Golden State Warriors']

In [ ]:
# Fuzzy search for records in 'TEAM' columns containing 'Warriors'
nba[nba['TEAM'].str.contains('Warriors', regex=False)]

In [ ]:
nba[nba['TEAM'].str.contains('New', regex=False)]

## selecting rows by multiple features

In [ ]:
# Filter 'POSITION' == 'PG' & 'SALARY' > 15
nba[(nba['POSITION']=='PG') & (nba['SALARY']>15)]

In [ ]:
# Filter a SALARY range
nba[(nba['SALARY']<10.3) & (nba['SALARY']>=10)]

In [ ]:
nba[nba['PLAYER']=='Barack Obama']

## Example Population Trends

In [ ]:
# As of Jan 2017, this census file is online here:
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# A local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'

full_census_table = pd.read_csv(data)
full_census_table

In [ ]:
# Select relevant columns
partial_census_table = full_census_table[['SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014']]
partial_census_table

In [ ]:
# Simplify the columns name
us_pop = partial_census_table.rename(columns={'POPESTIMATE2010': '2010', 'POPESTIMATE2014': '2014'})
us_pop

In [ ]:
# The change in population between 2010 and 2014
change = us_pop['2014'] - us_pop['2010']

In [ ]:
# Make a new df census from us_pop, then add two new columns
census = us_pop.copy()
census['Change']=change
census['Percent Change']=change/census['2010']
census

In [ ]:
census.head().style.format({'Percent Change': '{:.2%}'})

In [ ]:
# Sort census by Change, ascending=False
census.sort_values(by='Change', ascending=False)

In [ ]:
census_mf = census[(census['SEX']==0) & (census['AGE'] < 999)]
census_mf[['AGE','Percent Change']]

In [ ]:
census_mf['age group'] = pd.qcut(census_mf.AGE, q=5, labels=['0-20','21-40','41-60','61-80','81-100'])

In [ ]:
agg_df = census_mf.groupby('age group').sum()

In [ ]:
agg_df

In [ ]:
change = agg_df['2014'] - agg_df['2010']
agg_df['Change'] = change
agg_df['Percent Change'] = change/agg_df['2010']
agg_df

## Example Sex Ratios

In [ ]:
us_pop #1 for male, 2 for female

In [ ]:
us_pop[us_pop.AGE==999]

In [ ]:
# Drop column '2010' then filter 'AGE'==999
us_pop_2014 = us_pop.drop(columns='2010')
all_ages = us_pop_2014[us_pop_2014['AGE']==999]
all_ages

In [ ]:
# Add a column Proportion
all_ages['Proportion'] = all_ages['2014']/(list(all_ages[all_ages['SEX']==0]['2014'])*3)
all_ages